section > div#input{
	width:100%;
	text-align:center;
}

 form input:focus{
	border: 2px solid gold;
	outline:none;
}

section > div#show{
	width:100%;
	text-align:center;
	overflow-x:scroll;
}
section > div#show > table > thead > tr > th{
	color:gold;
	background-color:grey;
	font-weight:bold;
	font-size:1.2em;
}

section > div#show > table > tbody > tr > td{
	color:black;
	text-align:center;
	background-color:lightgrey;
}
section > div#show > table > tbody > tr:nth-child(2n) > td{
	background-color:grey;
}

section > div#show > table form{
	margin:0px;
	text-align:center;
}