section > div#compare > table th{
	font-size:1.2em;
	color:black;
	background-color:lightblue;
}

section > div#compare > table td{
	color:white;
	text-align:center;
	font-size:1.1em;
	background-color:grey;
}

section > div#compare > table tr:nth-child(odd)>td{
	color:black;
	background-color:lightblue;
}


section > div#compare > table tr:nth-child(odd)>td{
	color:black;
	background-color:lightblue;
}

section > div#show_all >table tr>th{
	color:white;
}
section > div#show_all >table tr>td{
	color:white;
	text-align:center;
}
section > div#show_all >table tr>td>input{
	height:auto;
}